/.env
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/shelf/Uncommitted_changes_before_rebase_[Changes]/shelved.patch
